html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.content {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.paralax {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("https://xatimg.com/image/TfM6QoIwvSGb.jpg");
  background-size: cover;
  background-position: center;
}

.paralax .layer {
  position: absolute;
  width: 400%;
}

.paralax .foreground {
  height: 50%;
  bottom: 0;
  background: url("http://www.testomic.com/public/codepen-assets/img/paralax/foreground.png") repeat-x;
  background-size: 25% 100%;
  animation: slideshow 330s linear infinite;
}

.paralax .hills {
  height: 40%;
  bottom: 15%;
  background: url("http://www.testomic.com/public/codepen-assets/img/paralax/hills.png") repeat-x;
  background-size: 25% 100%;
  animation: slideshow 560s linear infinite;
}

.paralax .rocks1 {
  height: 35%;
  bottom: 25%;
  background: url("http://www.testomic.com/public/codepen-assets/img/paralax/rocks1.png") repeat-x;
  background-size: 25% 100%;
  animation: slideshow 520s linear infinite;
}

.paralax .rocks2 {
  height: 40%;
  bottom: 15%;
  background: url("http://www.testomic.com/public/codepen-assets/img/paralax/rocks2.png") repeat-x;
  background-size: 25% 100%;
  animation: slideshow 940s linear infinite;
}

@keyframes slideshow {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}

/**	
* Nonatomic Branding
*/

.wrapper {
	width: 100%;
	overflow: hidden;
}
.photobanner {
	position: fixed;
	width: 280px;
	height: 233px;
	bottom: 2px;
	display: flex;
}

.photobanner img {
  margin: 0px 5px;
  box-shadow: 2px 2px 5px #00FF00;
}

.photobanner {
  -webkit-animation: bannermove 160s linear infinite;
	animation: bannermove 160s linear infinite;
}

@keyframes bannermove {
  from {
    left: 100%;
  }
  to {
    left: -4650px;
  }
}
